body {
    background-color: #E8F1F2;
    /* font-family: 'Barlow Condensed', sans-serif; */
    font-family: 'Source Serif 4', sans-serif;
    color:#001A23;
    margin: 40px 50px 10px;
}

h1 {
    color: #31493C;
    font-family: 'Rowdies', cursive;
    font-size: 70px;
    margin: 0;
}

h3 {
    color: #31493C;
    font-family: 'Rowdies', cursive;
    margin: 0;
    margin-top: 40px;
}

img {
    width: 100%;
    margin: auto;
    border-radius: 2px;
}

a {
    color: #31493C;
}

footer {
    height: 150px;
    padding-top: 40px;
}

#top-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#heading {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#title-subtext {
    font-size: 16px;
}

#quote {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#quote-text {
    font-size: 22px;
    font-weight: bold;
    color: #1f3b2c;
}

#quote-attribution {
    margin-top: 8px;
}

#feature-photo {
    max-width: 250px;
}
#tribute-info {
    margin-top: 40px;
}

#activism {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}

#img-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    padding-right: 30px;
    margin: auto;
}

#img-caption {
    font-size: 12px;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
    margin: auto;
}